* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  padding: 2rem;
  background-color: turquoise;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

h1 {
  background-color: burlywood;
}

img {
  height: 400px;
}
