* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 2;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: auto;
  height: 50px;
}

.categories {
  display: flex;
  margin-top: 0.8rem;
  gap: 3rem;
}

.categories .btn {
  list-style: none;
}

.categories .btn a {
  color: black;
  text-decoration: none;
}

.btn:hover {
  background-color: aqua;
}

h1 {
  background-color: burlywood;
}

img {
  height: 400px;
}

footer {
  padding: 2rem;
  background-color: turquoise;
}
