* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main {
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 30px;
  flex: 2;
  justify-content: center;
}

header {
  background: #fff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px #0000001a;
  position: sticky;
  top: 0;
  z-index: 3;
  font-family: 'Public Sans', sans-serif;
}

#search-bar {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 2px;
}

#search-bar p {
  text-align: center;
  display: block;
  height: 1rem;
  font-size: 0.8rem;
}

#search-input {
  border: 1px black solid;
  padding: 0.3rem;
}

#search-btn {
  border: none;
  background-color: transparent;
  display: block;
  background-color: #d6d6d6;
  padding: 0.3rem;
  cursor: pointer;
}

.desktop-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: auto;
  height: 50px;
}

.categories {
  display: flex;
  gap: 3rem;
}

.categories .navlink {
  list-style: none;
  border-bottom: #FFF solid 1px;
  cursor: pointer;
  text-align: center;
}

.categories .navlink a {
  color: black;
  text-decoration: none;
}

.navlink:hover {
  border-bottom: #222121 solid 1px;
}

.movieImage {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.movieImage:hover {
  transform: scale(1.05);
}

.card {
  display: grid;
  padding: 2rem;
  gap: 1rem;
  place-items: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.comment-button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.comment-button:hover {
  transform: scale(1.05);
}

.fa-heart {
  margin-top: 5px;
  cursor: pointer;
}

.commentLike-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.like-count {
  font-family: 'Public Sans', sans-serif;
}

footer {
  padding: 2rem;
  background-color: #a0a0a0;
  font-family: 'Public Sans', sans-serif;
  text-align: center;
}

.active-popup {
  margin: 6% 20%;
  padding: 4rem 5% 4rem;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: absolute;
  align-self: center;
  border: 2px solid rgb(54, 54, 54);
  z-index: 2;
}

.active-popup * {
  font-family: 'Public Sans', sans-serif;
}

.active-popup #close-btn {
  all: unset;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.active-popup .info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 70%;
}

.active-popup .info p:nth-child(4) {
  width: 100%;
}

.active-popup > img {
  height: auto;
  width: 100%;
  max-width: 300px;
}

.active-popup button img {
  height: 2rem;
  width: 2rem;
}

.active-popup h2,
.active-popup .score {
  font-size: 1.5rem;
}

.info ul {
  list-style: none;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.info ul li {
  border: black 1px solid;
  background-color: #a0a0a0;
  padding: 0.4rem 1rem;
}

.info ul li:hover {
  background-color: #3b3838;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

.blur {
  filter: blur(0.5rem);
}

.comment-section {
  margin-top: 1rem;
  width: 100%;
}

.comment-section h2 {
  text-align: center;
}

.comment-section *::placeholder {
  font-family: 'Public Sans', sans-serif;
  font-style: italic;
}

.add-comment input,
.add-comment textarea {
  padding: 0.3rem;
  height: 1.5rem;
}

.add-comment {
  margin: 1.5rem auto 0;
  width: 70%;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.add-comment textarea {
  height: 5rem;
}

.add-comment button {
  border: none;
  border: black 1px solid;
  background-color: #a0a0a0;
  padding: 0.5rem;
}

.comment-section button:hover {
  background-color: #3b3838;
  cursor: pointer;
}

.comment-history {
  margin: 1rem 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.single-comment {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.single-comment span:nth-of-type(1) {
  color: #6b6b6b;
  width: 100%;
}

.single-comment span:nth-of-type(2) {
  font-size: 1.2rem;
}

.single-comment span:nth-of-type(3) {
  font-style: italic;
}

#name-error,
#comment-error {
  opacity: 0;
}

#name-error.show,
#comment-error.show {
  opacity: 1;
}

.like-count {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: rgb(27, 72, 207);
}
